
<!--   <span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="381692329282-fft9jv4jfig202c13k6ajuklm0d1ev1u.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schema.org/AddAction"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span> -->

<!-- </span> -->
<a class="sign_in_button" href="<%=@google_post%>"><img class="sign_in" src="http://mindgridtech.com/Easylearn/images/login-button.png"</a>


