<h1>Feeds page</h1>
<form action="/profile" method="GET">
  <label for="country">Country: </label>
  <input type="country" name="country" placeholder="Country" id="state">
<br/><br/>
  <label for="keyword">Keyword: </label>
  <input type="text" name="keyword" placeholder="ie: Times Square, Las Vegas, Catskills" id="keyword">
  <input type="submit" value="Create Feed">
</form>


