<div class="profile">
<h2>Profile Page</h2>
<form class="location_input" action="/snapshot" method="GET">
  <label for="keyword"></label>
  <input type="text" name="keyword" placeholder="Location" id="keyword">
  <input type="submit" value="Create Snapshot">
</form>
<section class="feeds">
	<ul class="profile_feed_list">
		<%@feeds.drop(1).each do |feed| %>
			<li class="feedlist">
				<form class="feed_delete" action="/profile/feed/<%= JSON.parse($redis.get(feed))["id"] %>" method="POST">
  		<input type="image" src="http://www.veryicon.com/icon/16/System/Must%20Have/Delete.png" alt="Submit Form" />
  		<input type="hidden" name="_method" value="DELETE">
  
		</form>
		<a class="feedhover" href="/snapshot/show?index=<%=JSON.parse($redis.get(feed))['id']%>"><%=JSON.parse($redis.get(feed))["concept_name"]%></a></li>
			<%end%>
	</ul>
</section>
</div>
